/* src/components/layout/SimpleHeader/SimpleHeader.module.css */
.header {
  padding: 2px 4vw; /* Marges latérales responsives */
  background-color: #FFFFFF;
  border-bottom: 1px solid #eef0f3;
  width: 100%;
}

.logoLink {
  display: inline-block; /* Pour éviter les marges non désirées */
}

.logo {
  height: 120px; /* Ou la taille qui vous convient */
  display: block; /* Supprime l'espace sous l'image */
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.05);
}