/* src/components/layout/DashboardLayout/DashboardLayout.module.css */

.layout {
  display: flex;
  background-color: #f8f9fa; /* Le fond gris clair de votre dashboard */
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1; /* Prend tout l'espace restant à droite de la sidebar */
  padding: 40px;
  overflow-y: auto; /* Permet au contenu de scroller si il est trop long */
}