.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1.2rem;
}

.input {
  width: 100%;
  padding: 14px 16px;
  padding-left: 50px; /* Espace pour l'icône */
  border-radius: 8px;
  border: 2px solid #eee;
  background-color: #f9f9f9;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: #FF6347; /* Votre couleur primaire */
  box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.15);
}