@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
#root, .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 2. On dit au contenu principal de "grandir" pour occuper tout l'espace
      vertical disponible. C'est ce qui va pousser le footer en bas. */
.main-content {
  flex-grow: 1;
}